apiVersion: v2
name: saleor
description: A Helm chart for deploying Saleor e-commerce platform with Dashboard

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 2.3.4
appVersion: "3.21.2"

maintainers:
  - name: trieb.work
    email: info@trieb.work

keywords:
  - saleor
  - ecommerce
  - graphql
  - dashboard

dependencies:
- name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: "12.12.5"
  condition: postgresql.enabled
- name: redis
  repository: https://charts.bitnami.com/bitnami
  version: "18.1.0"
  condition: redis.enabled
