{{- if .Values.api.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "saleor.fullname" . }}-api
  labels:
    {{- include "saleor.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  {{- if not .Values.api.autoscaling.enabled }}
  replicas: {{ .Values.api.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "saleor.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      {{- with .Values.api.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "saleor.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "saleor.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if gt (int .Values.api.replicaCount) 1 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - api
              topologyKey: kubernetes.io/hostname
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}-api
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.api.service.port }}
              protocol: TCP
          startupProbe:
            httpGet:
              path: /health/
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /health/
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
          env:
            - name: PORT
              value: {{ .Values.api.service.port | quote }}
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: database-url
            - name: DATABASE_URL_REPLICA
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: database-url-replica
            - name: DB_CONN_MAX_AGE
              value: {{ .Values.global.database.connMaxAge | quote }}
            {{- if .Values.global.jwtRsaPrivateKey }}
            - name: RSA_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: jwt-private-key
            {{- end }}
            - name: DATABASE_READ_URLS
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: database-read-urls
                  optional: true
            - name: DATABASE_CONNECTION_TIMEOUT
              value: {{ .Values.global.database.connectionTimeout | default "5" | quote }}
            - name: DATABASE_MAX_CONNECTIONS
              value: {{ .Values.global.database.maxConnections | default "150" | quote }}
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: redis-url
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "saleor.fullname" . }}-secrets
                  key: secret-key
            {{- with .Values.api.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- include "saleor.s3Env" . | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
