apiVersion: v1
kind: Secret
metadata:
  name: saleor-secrets
type: Opaque
data:
  EMAIL_URL: {{ .Values.global.emailUrl  | b64enc | quote }}
  SECRET_KEY: {{ .Values.global.secretKey  | b64enc | quote }}
  DATABASE_URL: "{{- printf "postgres://%s:%s@saleor-postgresql:5432/%s"  .Values.global.postgresql.postgresqlUsername .Values.global.postgresql.postgresqlPassword .Values.global.postgresql.postgresqlDatabase | b64enc  -}}"
  REDIS_URL: "{{- printf "redis://:%s@saleor-redis-master:6379/0"  .Values.global.redis.password | b64enc  -}}"
  CELERY_BROKER_URL: "{{- printf "redis://:%s@saleor-redis-master:6379/1"  .Values.global.redis.password | b64enc  -}}"
  AWS_S3_ENDPOINT_URL: {{ .Values.global.AWS_S3_ENDPOINT_URL  | b64enc | quote }}
  AWS_ACCESS_KEY_ID: {{ .Values.global.AWS_ACCESS_KEY_ID  | b64enc | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.global.AWS_SECRET_ACCESS_KEY  | b64enc | quote }}
  AWS_STORAGE_BUCKET_NAME: {{ .Values.global.AWS_STORAGE_BUCKET_NAME  | b64enc | quote }}
  AWS_MEDIA_BUCKET_NAME: {{ .Values.global.AWS_MEDIA_BUCKET_NAME  | b64enc | quote }}
  AWS_QUERYSTRING_AUTH: {{ .Values.global.AWS_QUERYSTRING_AUTH  | b64enc | quote }}